header{
  @include flexSpace;
  flex-wrap: nowrap;
    gap: 20px;
    padding: 0 70px;
    height: 125px;
   
   
    
    img{
      height: 1px;
      margin-top: 10px;
      margin-right: 100px;
    }
  
    
      i{
        font-size: 2em;
        color: $salmon ;
        margin-top: 40px;
        margin-right: 100px;
      }
    
  
    h5{
      font-size: 1.3em;
      padding-top: 25px;
      padding-left: 30px;
    }
  
    p{
      padding-top: 7px;
      color: grey;
      font-size: 1em;
      padding-left: 30px;
    }
  
  }