header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 70px;
    height: 125px;
    
    img{
      height: 40px;
      margin-top: 40px;
      margin-right: 100px;
    }
  
    
      i{
        font-size: 2em;
        transform: rotateZ(45deg);
        color:#E27866 ;
        margin-top: 40px;
        margin-right: 100px;
      }
    
  
    h5{
      font-size: 1.3em;
      padding-top: 25px;
      padding-left: 30px;
    }
  
    p{
      padding-top: 7px;
      color: grey;
      font-size: 1em;
      padding-left: 30px;
    }
  
  }