@media (max-width:768px){

    html, body{
        width:100%;
        overflow-x:hidden;
        }

    .section1{
        // background: url(../images/bgsmall1.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        flex-direction: column;

        h2{
            // font-size: 2em !important;
            width: 50% !important;
        }

        button{
            width: 50%;
        }

        .form1{
          width: 00px;
          height: 600px;
           
        }
    }

    header{
height: 100%;
display: flex;
    flex-direction: column;
    margin-bottom: 20px;

.icons1{
    display: flex;
    flex-direction: row;
    margin-left: -50px;
   
    
    
}
    }

    .section6{
        height: 100% !important;
         .swiper{
             margin-left: 50px;
         }
     }


     .section5{
       width: 100%;

       .prices{
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-left: 60px !important;
        
       }
     }

     .section4{
        width: 100%;
        margin: auto;
        .reviews{
            display: flex;
            flex-direction: column; 
           align-items: center;
           margin-left: 20px !important;
        }
     }

     .section3{
        width: 100%;
        display: flex;
        flex-direction: column;
       align-items: center;

        .text{
        margin-left: 100px;
        }

        img{
           margin-top: 200px;
            height: 90% !important;
            width: 90% !important;
            margin-left: -10px !important;
            margin-bottom: -100px !important;
        }
     }

     .section2{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
       
        #antras{
            p{
                font-size: 0.9em !important;
            }
        }

.img{
display: flex !important;
flex-direction: column;

}
 p{
    font-size: 1.5em !important;
    margin-left: -50px !important;
    width: 100% !important;
    margin: 10px !important;
 }

 

.img2{
    width: 60% !important;
}


     }


     footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    

.icons{
    display: flex;
    flex-direction: row;
    margin-left: -50px;
    margin-bottom: -150px;
}
     }
}




@media(max-width:400px){
    .section1{
        // background: url(../images/bgsmall1.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        flex-direction: column;


        h2{
            // font-size: 2em !important;
            width: 50% !important;
        }

        button{
            width: 50%;
        }
    } 

    footer{
        height: 100%;
        display: flex;
        flex-direction: column;
      
        
    
    .icons1{
       
        display: flex;
        flex-direction: row;
      
    }
         }

.section6{
   height: 100% !important;
    .swiper{
        margin-left: 50px;
    }
}


.section5{
    width: 100%;

    .prices{
     display: flex;
     flex-direction: column; 
     justify-content: center;
     margin:auto;
    }

}

header{
    height: 100%;
    display: flex;
        flex-direction: column;
    
    .icons1{
        display: flex;
        flex-direction: row;
   
        
    }

}
}