section.section3{
    background: black;
    color: white;
    @include flexSpace;
    // height: 750px;
    gap: 150px;
  
    img{
      height: 400px;
      width: 500px;
     margin-left: 100px;
    }
  
  i{
    color: white;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid $salmon;
    background: $salmon;
    font-size: 1.6em;
    margin-bottom: 20px;
    margin-top: -30px;
    
  }
  
  .text{
    margin-top: 100px;
    padding-right: 150px;
    margin-bottom: 100px;
  
  
    h1{
      font-size: 3em;
      padding-bottom: 30px;
    }
  
    p{
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 1.2em;
    }
  
    hr{
      width: 30%;
      background-color: $salmon;
      height: 0.3em;
      border: none;
    }
  }
  
  .title1, .title2{
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 30px;
  
    p{
      padding-top: 10px;
    }
  }
   
  }