
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav{
  background: black;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 75px;
 
.links{
  padding-top: 30px;
}

img{
    padding: 10px 0;
   }

    a{
      color: white;
      text-decoration: none;
      margin-right: 25px;   
}
}

section.section1{
  background: url(../images/bgsmall.png);
  height: 750px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

img{
  height: 160px;
}

  h2{
    color: white;
    margin: 30px 0;
    font-size: 3em;
    width: 500px;
  }

hr{
  width: 10%;
}

  p{
    color: white;
    margin: 30px 0;
    font-size: 1.1em;
  }
  
  button{
height: 40px;
width: 130px;
text-transform: uppercase;
background: transparent;
color: white;
border: 2px solid white;
  }
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  height: 100px;
  
  img{
    height: 40px;
    margin-top: 25px;
    margin-right: 100px;
  }

  
    i{
      font-size: 2em;
      transform: rotateZ(45deg);
      color: #eca79b;
      margin-top: 25px;
      margin-right: 100px;
    }
  

  h5{
    font-size: 1.4em;
    padding-top: 25px;
    padding-left: 30px;
  }

  p{
    padding-top: 7px;
    color: grey;
    font-size: 1.2em;
    padding-left: 30px;
  }

}
  
section.section2{
  background: url(../images/bg2.png);
  background-size: cover;
  background-position: center;
  height: 750px;
  
}

section.section3{
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 750px;
  gap: 150px;

  img{
    height: 30%;
    width: 50%;
    margin-top: 250px;
    padding-left: 200px;
  }

i{
  color: white;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid #E27866;
  background: #E27866;
  font-size: 1.6em;
  margin-bottom: 20px;
  margin-top: -30px;
  
}

.text{
  margin-top: 100px;
  padding-right: 300px;


  h1{
    font-size: 3em;
    padding-bottom: 30px;
  }

  p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
  }

  hr{
    width: 30%;
    background-color: #E27866;
    height: 0.3em;
    border: none;
  }
}

.title1, .title2{
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 30px;

  p{
    padding-top: 10px;
  }
}
 
}

section.section4{


  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  p{
    text-align: center;
    margin: 50px 0;
    font-size: 1.3em;

  }

  hr{
    margin: auto;
    width: 5%;
    height: 0.3em;
    background-color: #E27866;
    border: none;
  }
 
  .reviews{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 100px;
    width: 90%;
    margin-left: 90px;
    gap: 30px;

    .review1, .review2, .review3{
      width: 300px;
    }

    
  i{
    color: #E27866;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid #E27866;
    font-size: 1.6em;
    margin-bottom: 50px;
  }

  p{
    color: grey;
    font-size: 1.2em;
    padding-top: 20px;
  }

  h3{
    font-size: 1.9em;
    margin-bottom: -40px;
  }
  }

}

section.section5{
  background: #6696E2;
  // height: 750px;
 
  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    padding-top: 100px;
    margin-bottom: 50px;
    color: white;
  }

  p{
    text-align: center;
    margin: 50px 0;
    font-size: 1.3em;
    color: white;
  }

  hr{
    margin: auto;
    width: 5%;
    height: 0.3em;
    background-color: #41D395;
    border: none;
  }
  
.prices{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
  width: 90%;
  padding-bottom: 100px;
  padding-left: 200px;
  
 h2{
  color: white;
  padding-top: 20px;
  text-transform: capitalize;
  font-weight: lighter;
 }

 h1{
  font-size: 7em;
  font-weight: lighter;
 }

 p{
  color: grey;
  margin-top: -25px;
 }

 h3{
  color: grey;
  text-transform: uppercase;

 }
  
  .price1, .price2, .price3{
    width: 450px;
    margin-top: 30px;
    border-radius: 8px;
    
  }
}
 
  .price2{
    height: 700px;
    background: linear-gradient(
      to bottom,
      black 0%,
      black 53%,
      #41D395 53%,
      #41D395 59%,
      white 59%,
      white 100%
    );
  
  }

  .price1, .price3{
    height: 660px;
    background: linear-gradient(
      to bottom,
      black 0%,
      black 55%,
      #41D395 55%,
      #41D395 56%,
      white 56%,
      white 100%
    );    
  }
}

section.section6{
  height: 750px;
  h1{
    font-size: 3em;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  hr{
    margin: auto;
    width: 5%;
    height: 0.3em;
    background-color: #6696E2;
    border: none;
  }
  
}

section.section7{
  background: #E27866;
  height: 750px;

  h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    padding-top: 100px;
  }

  p{
    color: white;
    text-align: center;
    padding-top: 50px;
  }
}

footer{
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  height: 100px;

  .icons{
padding: 30px;
display: flex;
justify-content: space-between;
gap: 200px;
  }

  h1{
    color: rgba(211, 211, 211, 0.425);
    font-size: 1.3em;
    font-weight: lighter;
    padding-top: 35px;
    padding-right: 30px;
  }
 
  img{
    height: 25px;
  }

  i{
    font-size: 1.4em;
    transform: rotateZ(45deg);
    color: #934e42;
  }
}


